<ul class="fa-ul mb-0">
    <li>
        <%= link_to "https://jose-vega-blog.herokuapp.com",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Personal Blog
                <i class="fa-li fa fa-book"></i>
                <small class="details">Rails, HTML and CSS</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "http://another-weather-app.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Weather App
                <i class="fa-li fa fa-sun-o"></i>
                <small class="details">React, Fetch API, JSX and CSS</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://bacon-text.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Text Generator App
                <i class="fa-li fa fa-file-text-o"></i>
                <small class="details">React, Fetch API, JSX and CSS</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://medinota.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">MediNota App
                <i class="fa-li fa fa-pencil"></i>
                <small class="details">Ruby on Rails, Bootstrap, Clearance gem</small>
            </div>
        <% end %>
    </li>
</ul>
