<ul class="fa-ul mb-0">
    <li>
        <i class="fa-li fa fa-book"></i>
        <a href="https://jose-vega-blog.herokuapp.com" target="_blank">Personal Blog</a>
        <small>Rails, HTML and CSS</small>
    </li>
    <li>
        <i class="fa-li fa fa-sun-o"></i>
        <a href="http://another-weather-app.herokuapp.com/" target="_blank">Weather App</a>
        <small>React, Fetch API, JSX and CSS</small>
    </li>
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a href="https://bacon-text.herokuapp.com/" target="_blank">Text Generator App</a>
        <small>React, ComponentDidMount, Fetch API, JSX, Bootstrap</small>
    </li>
    <li>
        <i class="fa-li fa fa-pencil"></i>
        <a href="https://medinota.herokuapp.com/" target="_blank">MediNota App</a>
        <small>Ruby on Rails, Bootstrap, Clearance gem</small>
    </li>
</ul>
